<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <div class="header">
         <p>后台管理系统</p>
         <div class="header-right">
             <p>欢迎您--(管理员)</p>
             <form action="/users/outList" method="post">
                 <button class="goodbey">退出</button>
             </form>
         </div>
     </div>
</body>
</html>