<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <div class="header">
         <p>xx后台管理系统</p>
         <div class="header-right">
             <p>欢迎您-Admin-(管理员)</p>
                <a class="goodbey" href="./login">退出</a>
         </div>
     </div>
</body>
</html>