<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
                <div class="menu-left">
                    <a href="./users">用户管理</a>
                    <a href="./phone">手机管理</a>
                    <a href="./brand">品牌管理</a>
                </div>
</body>
</html>